[submodule "Bundles/Haml.tmbundle"]
	path = Bundles/Haml.tmbundle
	url = git://github.com/phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "Bundles/shoulda.tmbundle"]
	path = Bundles/shoulda.tmbundle
	url = git://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "Bundles/nginx.tmbundle"]
	path = Bundles/nginx.tmbundle
	url = git://github.com/johnmuhl/nginx-tmbundle.git
[submodule "Bundles/Formtastic.tmbundle"]
	path = Bundles/Formtastic.tmbundle
	url = http://github.com/grimen/formtastic_tmbundle.git
[submodule "Bundles/Ruby Sass.tmbundle"]
	path = Bundles/Ruby Sass.tmbundle
	url = git://github.com/charlesr/ruby-sass-tmbundle.git
[submodule "Bundles/Sinatra.tmbundle"]
	path = Bundles/Sinatra.tmbundle
	url = git://github.com/foca/sinatra-tmbundle
[submodule "Bundles/html5.tmbundle"]
	path = Bundles/html5.tmbundle
	url = git://github.com/kennethreitz/html5.tmbundle.git
[submodule "Bundles/Cucumber.tmbundle"]
	path = Bundles/Cucumber.tmbundle
	url = git://github.com/cucumber/cucumber-tmbundle.git
[submodule "Bundles/javascript.tmbundle"]
	path = Bundles/javascript.tmbundle
	url = http://github.com/subtleGradient/javascript.tmbundle.git
[submodule "Bundles/javascript-tools.tmbundle"]
	path = Bundles/javascript-tools.tmbundle
	url = git://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "Bundles/RDoc.tmbundle"]
	path = Bundles/RDoc.tmbundle
	url = git://github.com/joshaven/RDoc.tmbundle.git
[submodule "Bundles/GoToFile.tmbundle"]
	path = Bundles/GoToFile.tmbundle
	url = git://github.com/amiel/gotofile.tmbundle.git
[submodule "Bundles/Git.tmbundle"]
	path = Bundles/Git.tmbundle
	url = git://github.com/jcf/git-tmbundle.git
[submodule "Bundles/Ruby on Rails.tmbundle"]
	path = Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/CoffeeScript.tmbundle"]
	path = Bundles/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle
